<!DOCTYPE html>
<html>
  <head>
    <title>Class Detail</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  	<h1>Class Detail</h1>
    <p> <%= @class %> </p>
  	<p><a href="/code">Code Home</a></p>
  </body>
</html>
