<!DOCTYPE html>
<html>
    <head>
        <title>Force.com Tooling API Inspect</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<h2>Inspect of Tooling api Inspect</h2>
		<table class="classes list">
    <% @classes.each do |class| %>
		    <%= @clases.inspect %>
    <% end %>
		</table>
		<br/>
		<a href="logout" id="logout">Logout</a>
	</body>
</html>